body {
    background-color: rgb(247, 244, 241);
}

.car {
    border: 2px solid #005DAA;
    margin: 20px 20px 20px 20px;
    padding-left: 60px;
    background-color: #005DAA;
    color: rgb(248, 243, 237);
}

.car .car-link {
    border: 2px solid #005DAA;
    margin: 20px 20px 20px 5px;
    padding: 10px;
    background-color: rgb(247, 244, 241);
    width: 50%;
    text-align: center;
}

.air {
    border: 2px solid #005DAA;
    margin: 20px 20px 20px 20px;
    padding-left: 60px;
}
.air .air-link {
    border: 2px solid #005DAA;
    margin: 20px 20px 20px 5px;
    padding: 10px;
    background-color: rgb(247, 244, 241);
    width: 50%;
    text-align: center;
}

.LetsChat {
    border: 2px solid #005DAA;
    margin: 20px 20px 20px 20px;
    padding-left: 60px;
}
.LetsChat .LetsChat-link {
    border: 2px solid #005DAA;
    margin: 20px 20px 20px 5px;
    padding: 10px;
    background-color: rgb(247, 244, 241);
    width: 50%;
    text-align: center;
}

a {
    margin: 20px 20px 20px 20px;
    text-align: center;
}

.extra { 
    position: relative;
    display: inline-flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(247, 244, 241);
    background-clip: border-box;    
}

.card .extras-additions {
    display: inline;
    float: left;
}

.holiday a{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #000;
}